<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUEnableDownloaderService</key>
	<true/>
	<key>SUPublicEDKey</key>
	<string>f0zRm+z6FEy4IVmmRrAncTBPwIcLAmm619TLmBMVzXw=</string>
	<key>SUFeedURL</key>
	<string>https://github.com/akaalias/SparkleUpdateTest/appcast.xml</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
</dict>
</plist>
